*{
	margin: 0;
	padding: 0;
}
.myheader{
	display: flex;
  justify-content: space-between;
	background-color: #20232a;
	padding: 10px;
}
.myheader span {
	color: #fff;
}
.myheader input{
	 outline: none;
	 border-radius: 5px;
	 border: none;
	 text-indent: 5px;
	 margin-right: 10px;
}
.btn {
	  color: #fff;
		font-size: 12px;
    background-color: #409eff;
    border-color: #409eff;
   border: none;
	 padding: 2px 3px;
	 outline: none;
	 border-radius: 5px;
	 cursor: pointer;
}
ul,li {
	list-style: none;
}
.tolist{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}